@import "tailwindcss";

:root {
  --background: #040507;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-source-sans);
  --font-serif: var(--font-playfair);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Source Sans 3" , Arial, Helvetica, sans-serif;
}